{% extends 'photos/base.html' %}
{% load imagekit %}

{% block content %} 
  <h1>This is Photo Detail page!</h1>
  <ul>
    {% thumbnail "500x500" photo.image %}
    <li>Author : {{ photo.author }}</li>
    <li>Title : {{ photo.title }}</li>
    <li>Content : {{ photo.content }}</li>
    <li>Created_at : {{ photo.created_at }}</li>
    <li>Updated_at : {{ photo.updated_at }}</li>
  </ul>
  <a class='btn btn-warning' href="{% url 'photos:photo_edit' photo.id %}">Edit</a>
  <a class='btn btn-danger' href="{% url 'photos:photo_delete' photo.id %}">Delete</a>
  <hr>
  <h2>COMMENTS</h2>

  {% for comment in comment_set %}
    <ul>
      <li> Author : {{ comment.author }}</li>
      <li> Content : {{ comment.content }}</li>
      <li> Created_at : {{ comment.created_at }}</li>
    </ul>
  {% empty %}
    <p>No Comments</p>
  {% endfor %}

  <hr>
  <a class='btn btn-success' href="{% url 'photos:new_comment' photo.id %}">Write Comment</a>
{% endblock %} 
